h1 {
  color: #006a71;
  text-align: center;
  font-family:'Dancing Script'cursive;
  margin-top:0;
}
h3 {
  color: #006a71;
  text-align: center;
}
h2{
  color: #006a71;
  text-align: center;
}
